<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> Tenda Helena</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Inici</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            Seccions
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ path('seccio_detall', {codi:1}) }}">Roba</a></li>
            <li><a class="dropdown-item" href="{{ path('seccio_detall', {codi:2}) }}">Calçat</a></li>
            <li><a class="dropdown-item" href="{{ path('seccio_detall', {codi:3}) }}">Accessoris</a></li>
            <li><a class="dropdown-item" href="{{ path('seccio_detall', {codi:4}) }}">Esports</a></li>
          </ul>
        </li>
        
      
      </ul>
    </div>
  </div>
</nav>
