{% extends 'base.html.twig' %}

{% block title %}Inici - Tenda Helena{% endblock %}

{% block contingut %}
  <div class="text-center my-5">
    <h1 class="display-3 fw-bold mb-4">Tenda Helena</h1>
   </div>

  <div class="row align-items-center my-5">
    <div class="col-md-6">
      <img src="{{ asset('imgs/image.png') }}" 
           alt="Imatge de la tenda" 
           class="img-fluid rounded shadow">
    </div>
  </div>
{% endblock %}
