{% extends 'base.html.twig' %}

{% block title %}Afegir Secció{% endblock %}

{% block contingut %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Afegir Secció</h4>
                </div>

                <div class="card-body">
                    <h4>{{details}}</h4>

                   <p>{{message}}</p>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
